.o_survey_form,
.o_survey_print,
.o_survey_session_manage,
.o_survey_quick_access {
    .o_survey_choice_btn_vertical {
        flex: unset;
        width: 100%;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
    }
}
